
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Super Hero Form</title>
  </head>
  <body>
    <h1><%= @team_name %></h1>
    <h2>Team Motto: <%= @team_motto %></h2>

    <% @team_members.each.with_index do |hero, index| %>
      <h2>Hero Name: <%= @hero_name[index] %></h2>
      <p>
        Hero power: <%= @hero_power[index] %>
        <br>
        Hero biography: <%= @hero_bio[index] %>
      </p>
    <% end %>

    <!-- <h2>Hero Name: <%= @hero_name %></h2>
    <p>Hero Power: <%= @hero_power %></p>
    <p>Hero Biography: <%= @hero_bio %></p>

    <h2>Hero Name: <%= @hero_name2 %></h2>
    <p>Hero Power: <%= @hero_power2 %></p>
    <p>Hero Biography: <%= @hero_bio2 %></p>

    <h2>Hero Name: <%= @hero_name3 %></h2>
    <p>Hero Power: <%= @hero_power3 %></p>
    <p>Hero Biography: <%= @hero_bio3 %></p> -->

  </body>
</html>
